
<div class="relative">
  <button
    id="favoriteDropdownButton"
    class="hover:bg-gray-100 hover:text-black bg-transparent border-b border-white placeholder-white text-white focus:outline-none"
  >
    Favorite Cities
  </button>
  <div
    id="favoriteDropdown"
    class="bg-transparent  border-white placeholder-white text-white focus:outline-none"
  >
    <div id="favoriteCitiesList" class="hidden">
    </div>
    <div id="noFavoritesMessage" class="p-2 text-white">
      No favorite cities
    </div>
  </div>
</div>


<script>
  import { initializeFavoriteCitiesDropdown } from '../scripts/favoriteCitiesDropdownScript';
  initializeFavoriteCitiesDropdown();
</script> 