<div class="relative w-full max-w-md flex flex-col">

  <div class="relative">
    <input
      id="citySearch"
      type="text"
      placeholder="Input city name"
      class="bg-transparent border-b border-white placeholder-white text-white focus:outline-none pr-8 w-full"
    />
    <img
      src="./src/assets/icons/fa_search.svg"
      alt="search icon"
      class="absolute right-2 bottom-2 w-4 h-4"
    />

    <div
      id="searchResults"
      class="absolute z-10 left-0 w-full mt-1 bg-white text-black shadow-md rounded max-h-60 overflow-auto hidden"
    ></div>
  </div> 
</div>


<script>
  import { initializeSearchCity } from '../scripts/searchCityScript';
  initializeSearchCity();
</script>
